:root
{
    --clsSelector-lg-w: calc(1500px / 1);
    --clsSelector-md-w: calc(900px / 1);
    --clsSelector-sm-w: calc(400px / 1);
}

/* .dark .clsSelector
{
}

.lite .clsSelector
{
} */

/* Theme form integration */
.input-group:has(.clsSelector)
{
    @apply overflow-visible visible;
    /* visibility: visible; */
}
.input-group .clsSelector
{
    @apply h-full max-h-[100%] !important;
}

.clsSelector
{
    @apply relative;
    @apply h-[4rem];
    @apply max-w-[100%] w-[30rem] min-w-[10rem];
}

.clsSelector .main-input
{
    @apply relative min-h-[3rem] rounded-md overflow-scroll;
    @apply flex flex-nowrap;
    @apply border-2 border-gray-400;
    @apply dark:ring-gray-600;
    @apply overflow-hidden;
}

.clsSelector input
{
    @apply placeholder-transparent;
    @apply w-full;
}

.clsSelector .selector-button
{
    @apply font-black;
}

/** Dropdown Div Start **/
.clsSelector menu
{
    @apply absolute w-full min-h-[300px] h-auto z-9999 overflow-y-visible visible;
    transform: translate(0px, 0px);
    /* visibility: visible; overflow: visible; min-height: 300px;  */

    width: inherit !important;
    min-width: inherit !important;
    max-width: inherit !important;
}

.clsSelector .dropdown-main-container
{
    /* @apply absolute; */
    @apply relative;
    @apply overflow-y-auto;

    width: inherit !important;
    min-width: inherit !important;
    max-width: inherit !important;
}

.clsSelector .dropdown-inner-container
{
    /* @apply absolute; */
    @apply relative;
    /* @apply ring-2 ring-gold rounded-md; */

    width: inherit !important;
    min-width: inherit !important;
    max-width: inherit !important;
}

.clsSelector option.no-results
{
    /* @apply relative; */
    /* @apply absolute; */
    @apply z-9999;
    @apply p-2 bg-white;
    
    width: inherit !important;
    min-width: inherit !important;
    max-width: inherit !important;
}

.clsSelector ul
{
    /* @apply relative; */
    /* @apply absolute; */
    @apply z-9999;
    @apply max-h-96 focus:outline-none;
    @apply list-none;

    width: inherit !important;
    min-width: inherit !important;
    max-width: inherit !important;
    
}

.clsSelector ul li
{
    @apply w-full;
    @apply whitespace-pre-line;
}