@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color Variables */

@layer base
{
  body
  {
    @apply bg-gray-50 text-gray-900;
    @apply dark:bg-gray-800 dark:text-gray-50;
  }


  ul, .ul
  {
    @apply list-outside list-none rounded-md border-2 border-gray-400;
  }
  li, .li
  {
    @apply p-2 hover:bg-white first:rounded-t-md last:rounded-b-md odd:bg-gray-200 even:bg-gray-100;
    @apply dark:hover:bg-gray-500 dark:odd:bg-gray-600 dark:even:bg-gray-700;
  }
  div[contenteditable], .content-editable
  {
    @apply rounded-md p-4 min-h-full;
    @apply bg-white dark:bg-gray-500;
    @apply border-2 border-gray-400;
    @apply outline-gold focus:outline-gold;
  }
  textarea, .textarea
  {
    @apply rounded-md p-4 min-h-full min-w-full;
    @apply bg-white dark:bg-gray-500;
    @apply border-2 border-gray-400;
    @apply outline-gold;
  }
  select, .select
  {
    @apply p-4 w-full placeholder-transparent -me-1;
    @apply bg-gray-300 disabled:bg-gray-100 disabled:text-gray-400;
    @apply dark:bg-gray-500 dark:disabled:bg-gray-600 dark:disabled:text-gray-400;
  }
  h1, .h1
  {
    @apply text-4xl;
  }
  h2, .h2
  {
    @apply text-3xl;
  }
  h3, .h3
  {
    @apply text-2xl;
  }
  h4, .h4
  {
    @apply text-xl;
  }
  h5, .h5
  {
    @apply text-lg;
  }
  h6
  {
    @apply text-base;
  }

  .count-flexula
  {
    /* @apply flex flex-wrap gap-3 py-3; */
    @apply flex flex-wrap gap-3;
  }

  .count-flexula > * 
  {
    /* @apply flex-initial; */
    @apply grow min-w-[300px];
  }

    /* Flex Form */
    .flex-form
    {
      /* first breakpoint*/
      --flex-breakpoint-lg:1500px;
      --flex-column-lg:5;
      /* second breakpoint*/
      --flex-breakpoint-md:900px;
      --flex-column-md:3;
      /* third breakpoint*/
      --flex-breakpoint-sm:400px;
      --flex-column-sm:2;
  
      display:grid;
      grid-template-columns:
        repeat(auto-fill,
          minmax(clamp(clamp(clamp(
                100%/(var(--flex-column-lg) + 1) + 0.1%,
                  (var(--flex-breakpoint-lg) - 100%)*1000,
                100%/(var(--flex-column-md) + 1) + 0.1%),
                  (var(--flex-breakpoint-md) - 100%)*1000,
                100%/(var(--flex-column-sm) + 1) + 0.1%),
                  (var(--flex-breakpoint-sm) - 100%)*1000,
                100%), 1fr));
      gap:15px;
      @apply my-4;
    }
    .flex-form-lg
    {
      --flex-breakpoint-lg:1500px;
      --flex-column-lg:3;
      /* second breakpoint*/
      --flex-breakpoint-md:900px;
      --flex-column-md:2;
      /* third breakpoint*/
      --flex-breakpoint-sm:400px;
      --flex-column-sm:1;
  
      display:grid;
      grid-template-columns:
        repeat(auto-fill,
          minmax(clamp(clamp(clamp(
                100%/(var(--flex-column-lg) + 1) + 0.1%,
                  (var(--flex-breakpoint-lg) - 100%)*1000,
                100%/(var(--flex-column-md) + 1) + 0.1%),
                  (var(--flex-breakpoint-md) - 100%)*1000,
                100%/(var(--flex-column-sm) + 1) + 0.1%),
                  (var(--flex-breakpoint-sm) - 100%)*1000,
                100%), 1fr));
      gap:15px;
      @apply my-4;
    }
    .flex-form-sm
    {
      --flex-breakpoint-lg:1200px;
      --flex-column-lg:8;
      /* second breakpoint*/
      --flex-breakpoint-md:700px;
      --flex-column-md:4;
      /* third breakpoint*/
      --flex-breakpoint-sm:400px;
      --flex-column-sm:2;
  
      display:grid;
      grid-template-columns:
        repeat(auto-fill,
          minmax(clamp(clamp(clamp(
                100%/(var(--flex-column-lg) + 1) + 0.1%,
                  (var(--flex-breakpoint-lg) - 100%)*1000,
                100%/(var(--flex-column-md) + 1) + 0.1%),
                  (var(--flex-breakpoint-md) - 100%)*1000,
                100%/(var(--flex-column-sm) + 1) + 0.1%),
                  (var(--flex-breakpoint-sm) - 100%)*1000,
                100%), 1fr));
      gap:15px;
      @apply my-4;
    }
  
}

@layer components
{
  /* .flex-form > div, .flex-form-lg > div, .flex-form-sm > div, .test-div
  {
    @apply relative mx-2 my-4 min-h-[3rem] rounded-md;
  } */

    /* Input Groups */
    .input-group
    {
      @apply relative min-h-[3rem] rounded-md overflow-hidden;
      @apply flex flex-nowrap;
      @apply border-2 border-gray-400;
      @apply dark:ring-gray-600;
    }
  
    .input-group > button
    {
      @apply m-0 rounded-none ring-gray-400;
    }
    .input-group > span
    {
      @apply m-0 p-4 bg-gray-200 rounded-none ring-gray-400 whitespace-nowrap;
      @apply bg-gray-200 dark:bg-gray-600;
    }
  
    input ~ input 
    {
    }

  /* Input Styling */
  .input-group input[type=text], .input-group input[type=tel], .input-group input[type=email], .input-group input[type=number], .input-group input[type=button], .input-group input[type=date], 
  .input-group input[type=datetime-local], .input-group input[type=file], .input-group input[type=submit], .input-group input[type=image], .input-group input[type=month], .input-group input[type=password],
  .input-group input[type=range], .input-group input[type=reset], .input-group input[type=search], .input-group input[type=time], .input-group input[type=url], .input-group input[type=week]
  {
    @apply p-4 w-full placeholder-transparent;
    @apply bg-gray-100;
    @apply disabled:bg-gray-300 disabled:text-gray-500;
    @apply dark:bg-gray-500 dark:disabled:bg-gray-600 dark:disabled:text-gray-400;
    @apply focus:outline-0 outline-0 border-none;
  }

  .input-group input[type=color]
  {
    @apply w-full h-full;
  }

  .color-label
  {
    @apply w-full h-full;
  }

  ::-webkit-color-swatch-wrapper
  {
    @apply p-0 border-none;
  }

  ::-webkit-color-swatch
  {
    @apply border-none;
  }

  .input-group [type=text].valid, .input-group input[type=tel].valid, .input-group input[type=email].valid
  {
    @apply text-green-900 dark:text-green-100;
  }

  .input-group input[type=tel].invalid, .input-group input[type=email].invalid, .input-group input[type=text].invalid
  {
    @apply text-red-900 dark:text-red-100;
  }

  .input-label
  {
    @apply absolute left-4 top-1 text-xs transition-all w-fit;
    @apply peer-placeholder-shown:text-base peer-placeholder-shown:top-4 peer-placeholder-shown:left-4;
    @apply peer-focus:left-4 peer-focus:top-1 peer-focus:text-xs;
    @apply text-gray-600 peer-disabled:text-gray-500;
    @apply dark:text-gray-300 dark:peer-disabled:text-gray-500;
    @apply pointer-events-none;
    @apply peer-required:after:content-["Required"] peer-required:after:relative peer-required:after:italic peer-required:after:font-extralight peer-required:after:left-4 peer-required:after:transition-all;
    @apply peer-required:peer-focus:after:text-xs peer-required:peer-placeholder-shown:after:text-base;
    @apply peer-required:peer-valid:after:text-transparent;
    @apply peer-required:after:text-red-500 dark:peer-required:after:text-yellow-300;
  }

  .input-group input[type=color] + label
  {
    @apply bg-gray-800 text-white text-xs;
    @apply rounded-br-md pt-2 pl-4 pr-2 pb-1;
    @apply absolute left-0 -top-1;
    @apply pointer-events-none;
  }

  .validation-message
  {
    @apply absolute top-14 pt-1 left-4 text-xs font-extralight text-transparent;
    @apply peer-[.invalid]:text-red-700 peer-[.invalid]:dark:text-yellow-300;
  }

  /* Checkbox Styling */

  .checkbox-div 
  {
  }
  .checkbox-label input[type=checkbox], .radio-label input[type=radio]
  {
    @apply appearance-none;  /* The original checkbox is hidden, and triggered by clicking the label, which the checkbox is placed inside of.  The checkbox is required because it controls the appearance of the span */
  }
  .checkbox-label
  {
    @apply flex;
    @apply text-gray-600;
    @apply dark:text-gray-300;
    @apply my-0.5
    /* @apply relative left-16 */
  }
  .checkbox-span /* This creates the toggle switch appearance */
  {
    @apply duration-300 ease-in-out w-12 h-7 flex items-center p-1 rounded-full order-first ml-0.5 mr-2;
    @apply after:w-5 after:h-5 after:rounded-full after:shadow-md after:duration-300;
    @apply peer-checked:after:translate-x-5;
    @apply bg-gray-300  after:bg-white peer-checked:bg-green-400;
    @apply dark:bg-gray-600 dark:after:bg-gray-200;
    @apply ring-2 after:ring-2 ring-gray-400 after:ring-gray-400 peer-checked:ring-green-600 peer-checked:after:ring-green-600;
    @apply dark:ring-gray-500 dark:after:ring-gray-900;
    /* @apply -top-1 -left-14; */
  }

  .radio
  {
  }

  .radio-label
  {
    @apply text-gray-600;
    @apply dark:text-gray-300;
    @apply flex my-0.5;

  }
  .radio-span
  {
    @apply p-1 w-7 h-7 rounded-full flex order-first;
    @apply after:w-5 after:h-5 after:rounded-full peer-checked:after:shadow-md;
    @apply bg-white peer-checked:after:bg-gray-500;
    @apply ring-2 ring-gray-400 ml-0.5 mr-2;
  }

  /* Accordions */
  .accordion
  {
    @apply rounded-md border-gray-400 border-2 overflow-hidden;
  }

  .accordion details
  {
    @apply p-4;
    @apply bg-gray-300 dark:bg-gray-600;
  }

  .accordion-div
  {
    @apply px-4 overflow-hidden ease-in-out duration-300 max-h-0 peer-open:max-h-[10000px] peer-open:py-4;
    @apply bg-gray-200 dark:bg-gray-700;
  }


  /* Buttons */
  .btn
  {
    @apply p-4 rounded-md ring-2 bg-gray-300 dark:bg-gray-600 ring-gray-800 dark:ring-gray-300 shrink-0;
  }
  .btn-gray, .btn-primary, .btn-light
  {
    @apply bg-gray-200 text-gray-800 ring-gray-400 hover:bg-gray-100;
    @apply dark:bg-gray-600 dark:text-gray-100 dark:ring-gray-900 dark:hover:bg-gray-500;
  }
  .btn-light-camo, .btn-secondary
  {
    @apply bg-light-camo text-stone-950 ring-stone-500 hover:bg-stone-300;
  }
  .btn-green, .btn-success
  {
    @apply bg-green-400 text-green-950 ring-green-600 hover:bg-green-300 ;
    @apply dark:bg-green-600 dark:text-green-100 dark:ring-green-900 dark:hover:bg-green-500;
  }
  .btn-red, .btn-fail, .btn-danger
  {
    @apply bg-red-500 text-red-100 ring-red-700 hover:bg-red-400 hover:text-white;
    @apply dark:bg-red-600 dark:text-red-100 dark:ring-red-500 dark:hover:bg-red-500;
  }
  .btn-yellow, .btn-warn, .btn-warning, .btn-gold
  {
    @apply bg-gold text-yellow-900 ring-yellow-600 hover:bg-yellow-300;
    @apply dark:bg-yellow-500 dark:text-yellow-50 dark:ring-yellow-600 dark:hover:bg-yellow-400;
  }
  .btn-info, .btn-cyan
  {
    @apply bg-cyan-300 text-cyan-950 ring-cyan-700 hover:bg-cyan-200;
  }
  .btn-dark
  {
    @apply bg-army-black text-gray-300 ring-gray-600 hover:bg-gray-800;
  }
  .btn-link
  {
    @apply bg-black ring-gold text-gold underline decoration-white hover:bg-gray-800;
  }

  /* Cards */
  .card 
  {
    @apply bg-gray-200 dark:bg-gray-500 border-2 border-gray-400 rounded-md overflow-hidden;
  }
  .card * 
  {
  }

  .card-header, .card-body, .card-footer 
  {
    @apply px-4 py-2;
  }
 
  /* Icon sizes */
  :root
  {
    --base-icon-size: 1rem;
    --icon-size-0: calc(var(--base-icon-size) * .5);
    --icon-size-1: calc(var(--base-icon-size));
    --icon-size-2: calc(var(--base-icon-size) * 2);
    --icon-size-3: calc(var(--base-icon-size) * 3);
    --icon-size-4: calc(var(--base-icon-size) * 5);
    --icon-size-5: calc(var(--base-icon-size) * 7);
    --icon-size-6: calc(var(--base-icon-size) * 11);
    --icon-size-7: calc(var(--base-icon-size) * 17);
    --icon-size-8: calc(var(--base-icon-size) * 23);
    --icon-size-9: calc(var(--base-icon-size) * 29);
    --icon-size-10: calc(var(--base-icon-size) * 37);
    --icon-size-11: calc(var(--base-icon-size) * 109);
  }
 
  .is-0
  {
    font-size: var(--icon-size-0);
  }
  .is-1 
  {
    font-size: var(--icon-size-1);
  }
  .is-2 
  {
    font-size: var(--icon-size-2);
  }
  .is-3 
  {
    font-size: var(--icon-size-3);
  }
  .is-4 
  {
    font-size: var(--icon-size-4);
  }
  .is-5 
  {
    font-size: var(--icon-size-5);
  }
  .is-6 
  {
    font-size: var(--icon-size-6);
  }
  .is-7 
  {
    font-size: var(--icon-size-7);
  }
  .is-8 
  {
    font-size: var(--icon-size-8);
  }
  .is-9 
  {
    font-size: var(--icon-size-9);
  }
  .is-10
  {
    font-size: var(--icon-size-10);
  }
  .is-11
  {
    font-size: var(--icon-size-11);
  }
}

@layer utilities
{



}

/** Custom Weather components start **/
.wx-wrapper
{
  @apply flex flex-wrap p-0;
}
/*
.wx-icon-container
{
  @apply relative flex items-center border border-black rounded-sm h-24 w-24 p-0;
}
.wx-icon-container i
{
  @apply absolute top-0 left-0 ml-auto mr-auto;
}
*/
.wx-icon-container
{
  @apply flex items-center border border-black rounded-sm h-24 w-24 p-0;
  /* overflow-hidden */
}
.wx-icon-container i
{
  @apply ml-auto mr-auto;
}
/** Custom Weather components end **/